* {
	padding:0;
	margin:0;
	border:none;
	outline:0; 
	list-style:none;
	text-decoration:none;
	box-sizing:border-box; 
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-ms-box-sizing:border-box;
}


body, html {
	height:100%;
	font-family:arial, sans-serif;
}


/*clearfix------*/
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }


.clean_inline {
	/*font-size:1px;*/
	word-spacing:-1px;
	letter-spacing:-1px;
	margin-bottom:0;
}




.backgroundColor {
	background-color:#61BD6D!important; 
}

.backgroundColor p {
	color:#ffffff!important;
}


.box {
	max-width: 760px;
    padding: 20px;
    background-color: #E9E9E9;
    margin: 80px auto 0 auto;
    border: 1px solid #DFDFDF;
} 


.title, .text {
    font-family: arial, sans-serif;
    color: #515151;
    font-size: 23px;
    /*text-transform: uppercase;*/
} 

.title {
	margin-bottom:15px; 
} 


.text {
    font-size: 18px;
} 


.btn {
    float: right;
    padding: 6px 10px;
    background-color: #2E2E2E;
    font-family: arial;
    font-weight: 800;
    color: white;
} 

.data_container {
    padding: 18px;
   	color: #515151;
    font-size: 18px;
    margin-bottom:10px; 
    background-color: #FAFAFA;
/*   	display: none;*/
} 

.side_menu {
} 


.link {
	margin-bottom:10px;
} 


.link a {
	font-size: 18px;
    color: #FFFFFF;
    display: block;
    padding: 20px 60px;
    border-bottom: 1px solid #E9E9E9;
    background: #1ABC9C;
    text-transform: uppercase;
    /* font-weight: bold; */
    text-align: center;
} 


.dato {
	padding: 15px;
    margin-top: 20px;
    font-size: 17px;
    color: #B1B1B1;
}

.secondDay{
    color: red;
}

.full_box {
	width: 100%;
	height:90%;
	background: url("../img/bkg-1.jpg") no-repeat;
	background-size:cover;
} 

.footer {
	width: 100%;
	height: 10%;
	background:black;
} 